@import 'reset';

html {
  box-sizing: border-box;
  padding: 20px;
}

#container {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 800px;

  .item {
    width: 200px;
    position: absolute;

    img {
      width: 100%;
    }
  }
}
